:root {
  /* Colours */
  --flash-yellow: #fff200;
  --flash-green: #41ad49;
  --flash-red: #d12229;
  --flash-off-white: #eeeeee;
  --flash-white: #ffffff;
  --flash-black: #000000;
  --flash-placeholder-colour: #929292;
  --flash-darkmode-border: #151515;
  --flash-darkmode-txtbg: #030503;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--flash-white);
    --color-light-bg: var(--flash-white);
    --color-dark-bg: var(--flash-off-white);
    --color-menu-bg: var(--flash-white);
    --color-primary: var(--flash-black);
    --color-secondary: #666666;
    --color-subtext: #999999;
    --color-error: var(--flash-red);
    --color-links: var(--flash-green);
    --color-highlight-bg: #999999;
    --color-highlight-fg: #eeeeee;
    --color-active-bg: #f8d9aa;
    --color-borders: var(--flash-black);
    --color-button-bg: var(--flash-black);
    --color-button-fg: var(--flash-white);
    --color-disabled-button-bg: #ececec;
    --color-disabled-button-fg: #aaa;
    --color-send: var(--flash-red);
    --color-receive: var(--flash-green);
    --color-btcPrimary: #8c540a;
    --color-btcSecondary: #f1a43c;
    --color-usdPrimary: #40632c;
    --color-usdSecondary: #85bb65;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--flash-black);
    --color-light-bg: var(--flash-black);
    --color-dark-bg: var(--flash-black);
    --color-menu-bg: var(--flash-black);
    --color-primary: var(--flash-white);
    --color-secondary: #999999;
    --color-subtext: #666666;
    --color-error: var(--flash-red);
    --color-links: var(--flash-green);
    --color-highlight-bg: #666666;
    --color-highlight-fg: #111111;
    --color-active-bg: #4a453d;
    --color-borders: var(--flash-white);
    --color-button-bg: var(--flash-yellow);
    --color-button-fg: var(--flash-black);
    --color-disabled-button-bg: #191919;
    --color-disabled-button-fg: #999;
    --color-send: var(--flash-red);
    --color-receive: var(--flash-green);
    --color-btcPrimary: #8c540a;
    --color-btcSecondary: #f1a43c;
    --color-usdPrimary: #40632c;
    --color-usdSecondary: #85bb65;
  }
}

body.light {
  --color-bg: var(--flash-white);
  --color-light-bg: var(--flash-white);
  --color-dark-bg: var(--flash-off-white);
  --color-menu-bg: var(--flash-white);
  --color-primary: var(--flash-black);
  --color-secondary: #666666;
  --color-subtext: #999999;
  --color-error: var(--flash-red);
  --color-links: var(--flash-green);
  --color-highlight-bg: #999999;
  --color-highlight-fg: #eeeeee;
  --color-active-bg: #f8d9aa;
  --color-borders: var(--flash-black);
  --color-button-bg: var(--flash-black);
  --color-button-fg: var(--flash-white);
  --color-disabled-button-bg: #ececec;
  --color-disabled-button-fg: #aaa;
  --color-send: var(--flash-red);
  --color-receive: var(--flash-green);
  --color-btcPrimary: #8c540a;
  --color-btcSecondary: #f1a43c;
  --color-usdPrimary: #40632c;
  --color-usdSecondary: #85bb65;
}

body.dark {
  --color-bg: var(--flash-black);
  --color-light-bg: var(--flash-black);
  --color-dark-bg: var(--flash-black);
  --color-menu-bg: var(--flash-black);
  --color-primary: var(--flash-white);
  --color-secondary: #999999;
  --color-subtext: #666666;
  --color-error: var(--flash-red);
  --color-links: var(--flash-green);
  --color-highlight-bg: #666666;
  --color-highlight-fg: #111111;
  --color-active-bg: #4a453d;
  --color-borders: var(--flash-white);
  --color-button-bg: var(--flash-yellow);
  --color-button-fg: var(--flash-black);
  --color-disabled-button-bg: #191919;
  --color-disabled-button-fg: #999;
  --color-send: var(--flash-red);
  --color-receive: var(--flash-green);
  --color-btcPrimary: #8c540a;
  --color-btcSecondary: #f1a43c;
  --color-usdPrimary: #40632c;
  --color-usdSecondary: #85bb65;
}
